.Modal {
    background-color: rgba(0, 0, 0, .7);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    
}

.Modal__box {
    width: 80vw;
    height: 35vh;
    border-radius: 15px;
}
.material-symbols-outlined.closeModal{
    font-size: 26px;
    font-weight: 700;
    border:1px dashed #000;
}

.material-symbols-outlined.arrowBtnModal{
    font-size: 28px;
}

.textModal{
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 700;
    padding: 15px,10px,10px,10px;
}

.button1,.button2{
    font-weight: 700;
    width: 90%;
    margin: 15px;
    /*font-size: 20px; */
    font-size: 1rem;
    border-radius: 2em;
    border: none;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7em 1em 0.7em 1.3em;
    background-color: var(--btn-update);
    color: var(--color);
}
.button1{
    background-color: rgb(0, 254, 47);
}

.Modal--infoCart > .Modal__box {
    background-color: rgba(255, 254, 254,0.9);
}